body{
  background: #f1f2ed;
  position: fixed;
  max-height: 800px;
  text-align: center;
  overflow-y: scroll;
  max-width:1500px;
}
h1 {
  color: #716B6E;
  font-size: 50;
  text-align: center;
  padding: 10px;
  right: 10px;
  z-index: 200;
}
#welcome{
  width: 100%;
  position: fixed;
  text-align: center;
  margin: 0 auto;


}
#nav {
    color: #716B6E;
    font-size: 40;
    text-align: left;
    color: #716B6E;
    font-size: 45;
    float: right;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    display: block;
    cursor: pointer;
  }
#nav:hover
{
  -webkit-animation: spin .6s linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
#navbar{
  overflow-x: hidden;
  height: 100%;
  background: #b5969c;
  background-color: #b5969c;
  position:fixed;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 100;
  -webkit-transition: width 0.8s;
  -moz-transition: width 0.8s;
  transition: width 0.8s;
  display: block;

}

#navbar a{
  margin: 30px 30px 30px 30px;
  transition: 0.8s;
  text-align: center;
  margin: 0 auto;

}
#holder {
    text-align: center;
    top: 100px;
    position: absolute;
    display: block;
    height: 300px;
    -webkit-transition: width .5s linear;
    -moz-transition: width .5s linear;
    transition: width .5s linear;
    font-family: 'Noto Serif', serif;

}

#navbar2{
  width: 100%;
  height: 60px;
  background: #e9e4e1;
  background-color: #bdcebc;
  position:fixed;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 0;
}
.open-side{
  width: 200px;
}
.normal{
  overflow-x: hidden;
  width: 60px;
}
.normal2{
  overflow-x: hidden;
  width: 0;
}
.nav-items{
  width: 0;
}
#grids{
  display: block;
  text-align: center;
  margin-top: 100px;
  position: absolute;

}

.out{
  -webkit-animation: out .8s forwards;
  -moz-animation: out .8s forwards;
  animation: out .8s forwards;
}
.in{

  -webkit-animation: in .8s forwards;
  -moz-animation: in .8s forwards;
  animation: in .8s forwards;
}
.original{
  left: -60px;
}

@-webkit-keyframes out  {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(100%);
  }
}
@-moz-keyframes out {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes out {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60px);
  }
}
@-moz-keyframes in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60px);
  }
}
@keyframes in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60px);
  }
}

#stuff{
  display: block;
  text-align: center;
  margin-top: 100px;
  position: absolute;
  right:70px;


}
#stuff li{
  list-style-type: none;

}

a{
  text-decoration: none;
  display: block;
}
#about{
  position: fixed;
  top: -900;
  background: #e9e4e0;
  background-color: #f1f2ed;
  width: 100%;
  height: 90%;
  margin-top: 60px;
}
#myself{

width: 250px;

top: 80px;

position: absolute;

left: 140px;
}

#personal{
  width: 400px;
  position: absolute;
  top: 340px;
  left: 480;
  font-family: 'Noto Serif', serif;
  color: #70665d;
}
.slide{
  -webkit-transition: top 1.3s;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: top 1.3s ;  /* Firefox 4-15 */
      -o-transition: top 1.3s ;  /* Opera 10.50ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Å“12.00 */
         transition: top 1.3s ;
}
.open-top{
  top:0px !important;
}
.faint{
  opacity: .5;
  z-index: -10;
}

.airplane{
  position: absolute;
  display: inline-block;
  width: 100px;
  left: -200;
  bottom: -800;



  /*  -webkit-animation: fly 2s alternate infinite;
    -moz-animation: fly 2s alternate infinite;
    /* animation: fly 2s infinite; */
    /* transition-timing-function: ease-in; */
    /* animation-name: fly; */
    /* animation-timing-function: linear; */
    /*animation-direction: forwards;
    /* animation-iteration-count: 1; */
    /* animation-duration: 8s; */
  /*  animation-name: fly;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;*/
    /* animation-delay: 2s; */
}


.resumepart{

  text-align: center;

  /* -webkit-animation: xAxis 3.5s infinite ease-in;
 animation: xAxis 3.5s infinite ease-in; --> */
}

.resume1::after{
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: rotate(0deg) translateX(px);
    -moz-transform: rotate(0deg) translateX(150px);
    transform: rotate(0deg) translateX(100px);
  }
  40% {
    -webkit-transform: rotate(15deg) translateX(150px);
    -moz-transform: rotate(15deg) translateX(150px);
    transform: rotate(15deg) translateX(150px);
  }
  50% {
    -webkit-transform: rotate(15deg) translateX(150px);
    -moz-transform: rotate(15deg) translateX(150px);
    transform: rotate(15deg) translateX(200px);
  }
  60% {
    -webkit-transform: rotate(-10deg) translateX(150px);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg) translateX(250px);
  }
  70% {
    -webkit-transform: rotate(-10deg) translateX(150px);
    -moz-transform: rotate(-10deg) translateX(150px);
    transform: rotate(-10deg) translateX(300px) translateY(-200px);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg) translateX(350px) translateY(-200px) ;
  }
}

@-webkit-keyframes yAxisl {
  0% {
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    transform: rotate(0deg) ;
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: rotate(15deg) translateX(100px);
    transform: rotate(15deg) translateX(100px);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: rotate(15deg) translateX(200px);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: rotate(-10deg) translateX(250px);
    transform: rotate(-10deg) translateX(250px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: rotate(-10deg) translateX(300px);
    transform: rotate(-10deg) translateX(300px);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: rotate(0deg) translateX(350px);
    transform: rotate(0deg) translateX(350px);
  }
}
@-webkit-keyframes xAxisl {
  0% {
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    transform: rotate(0deg) ;
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    -webkit-transform: translateY(-100px);
    transform:translateY(-100px);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    -webkit-transform:  translateY(-250px);
    transform: translateY(-250px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    animation-timing-function: cubic-bezier(.05,1.43,1,.15);
    -webkit-transform: rotate(0deg) translateY(-400px);
    transform: rotate(0deg) translateY(-800px);
  }
}
@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
}

.lightbox{
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #f1f2ed;
  opacity: .95;
}

.lightbox img{
  max-width: 80%;

  margin-top: 2%;
  overflow-y: scroll;
  opacity: 1;
}

.lightbox:target {
	outline: none;
	display: block;
  overflow-y: scroll;
}
#opacity{
  opacity: 1;!
}
.icons{

  width: 60px;
  padding: 20px;
  cursor: pointer;
}
#links{

  text-align: center;
}
.buttons{
  font-weight: bold;
  width: 100px;
  height: 25px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #565350;
  letter-spacing: 2;
  font-family: 'Noto Serif', serif;
}

svg {
	width: 45%;
	stroke-dasharray:1840;
	stroke-dashoffset: 1840;
	animation: 4s dash ease forwards;
 	text-align: center;
  stroke: #b5969c;
  fill: #b5969c;
  margin-top:10%;
}
path.st0{
	animation: 2s  .3s color-change  ease forwards;

}
path.st1{
	animation: 2s .3s color-change ease forwards;

}
path.st2 {
	animation: 2s .6s color-change ease forwards;

}
path.st3{
	animation: 2s .6s color-change ease forwards;

}
path.st4{
	animation: 2s .3s color-change ease forwards;

}
path.st5{
	animation: 2s .3s color-change ease forwards;

}
path.st6{
	animation: 2s .3s color-change ease forwards;

}
@keyframes dash{
	from{
		transform: scale(1);
	}
	50% {
		transform: scale(1);
	}
	to{
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}


@keyframes color-change{
  0%{
    fill: #f1f2ed;;
  }

  100%{
    fill: #b5969c;
  }
}

body {
    animation: myfadeInAnimation 3s;
    text-align: center;
}

@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.selected{
  color: #d8bebd;
}
#networks{
  display: inline;
}
.icons:hover{
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    30% {-webkit-transform: translateY(-20px);}
    60% {-webkit-transform: translateY(-10px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    30% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
